nav ul {
  padding: 0; /* Remove the default padding. */
  list-style: none;
  /* I want everything inside the nav bar centered, thus: */
  text-align: center;
}

.sticky {
    position:fixed;
    top:0;
}

.z-index {
	z-index: 10;
	margin-left: -15px;
}

@media (max-width: 768px) {
	.z-index {
		z-index: 10;
		margin-left: 0px;
	}
}